<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Social Network</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/users" *ngIf="loggedIn">Users <span class="sr-only">(current)</span></a>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/login" tabindex="-1" aria-disabled="true" *ngIf="!loggedIn">Sign In</a>
          <a class="nav-item nav-link active" href="/register" *ngIf="!loggedIn">Register</a>
          <a class="nav-item nav-link active" (click)="logout()" *ngIf="loggedIn">Logout</a>
        </div>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </nav>
  </div>
<router-outlet></router-outlet>
