.post-background {
    background-color:cornflowerblue;
    width: 35%;
    margin: 1em auto;
    padding: 2em 1em;
    font-size: large;
    font-weight: bold;
}

textarea {
    width: 90%;
    height: 10em;
    margin: auto;
    resize: none;
  }

.upload-file{
    margin-top: 0.75em;
}

img{
    height: 200px;
}