<h1 class="text-center" style="width: 30%; margin: 0 auto 2rem;">Register!</h1>

<form action="" method="" style="width: 30%; margin: 25px auto;">
  <input class="form-group form-control" type="text" name="firstName" placeholder="First Name">
  <input class="form-group form-control" type="text" name="lastName" placeholder="Last Name">
  <input class="form-group form-control" type="text" name="email" placeholder="Email Address">
  <input class="form-group form-control" type="password" name="password" placeholder="Password">
  <button class="btn btn-lg btn-primary btn-block">Register!</button>
</form>

<!--<p>Implement form here, make it nice, method that sends data to back-end service is named - addUser() in register-form.component.ts</p>-->
