<div class="container">
<h1 class="display-4">Create new account!</h1>
<form id="registerForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name:</label>
      <input type="text" formControlName="firstName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Last Name:</label>
      <input type="text" formControlName="lastName" class="form-control" />
  </div>
  <div class="form-group">
    <label>Email:</label>
      <input type="text" formControlName="email" class="form-control" />
  </div>
  <div class="form-group">
    <label>Password:</label>
      <input type="text" formControlName="password" class="form-control" />
  </div>

    <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid" style="margin-top: 1rem;">Submit</button>

  </form>
</div>
  <!--FORM ABOVE SHOULD WORK PROPERLY BELOW IS JUST FOR SHOWING IF REGISTRATION IS SUCCESFULL-->

  <div *ngIf="savedUser">
    <p>Succesfully registered User:</p>
    <br>
    <div class="col-sm-4"><span class="bold">Id: </span>{{savedUser.id}}</div>
    <div class="col-sm-4"><span>First Name: {{savedUser.firstName}}</span></div>
    <div class="col-sm-4"><span class="bold"> Last Name: {{savedUser.lastName}}</span></div>
    <div class="col-sm-4"><span class="bold"> Email: </span> {{savedUser.email}}</div>
  </div>
